.underline {display:inline-block;white-space:normal; word-break:break-all; text-decoration: underline; color:#007bc0;}
.underline:hover {text-decoration:none}

.dot-list.pd15 li {padding:0 0 0 15px !important;}
.dot-list li, p.dot-list {position:relative;padding:0 0 0 10px;}
.dot-list li > span:first-child, p.dot-list > span:first-child {position:absolute;left:0;}

.box-plist-2col > div:after {content:"";clear:both;display:block;}
.box-plist-2col .item {border-bottom: 1px solid #ddd;margin-top:25px;overflow:hidden;padding-bottom:25px;}
.box-plist-2col .item > a, .box-plist-2col .item > span {display:block;}
.box-plist-2col .item .img {float:left;margin-right:20px}
.box-plist-2col .item .img img{max-width:350px}
.box-plist-2col .txt {margin-top:5px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; color:#666;}
.box-plist-2col.float-left .item {float:left;width:50%}

@media all and (max-width:360px) {
	/* plist list (2col) */
	.box-plist-2col .item {float:none !important; margin-right:0; margin-left:0; width:100%;margin-top:5%;}
	
}

.box-plist-4col > div:after {content:"";clear:both;display:block;}
.box-plist-4col [class*="heading"] {margin:12px 0 4px 0;}
.box-plist-4col .item {float:left;width:24.5%;margin-top:5%;}
.box-plist-4col .item > a, .box-plist-2col .item > span {display:block;}
.box-plist-4col .item .img {margin-bottom:5px;}
.box-plist-4col .tit {position:absolute;left:50%;}
.box-plist-4col .tit:first-child {left:0;}

/* exchange rate */
.convert-wrap {padding:30px 10px;border:3px solid #007dc3;}

/* climate */
@media all and (max-width:639px) {
	.table-v {display:block;}
	.table-h {display:none}
	.box-plist-2col.float-left .item {float:none;width:100%}
	.box-plist-4col .item {margin-right:0; margin-left:0; width:100%;margin-top:5%;}
}
@media all and (max-width:640px) {
	.table-h {display:block;}
	.table-v {display:none}
	.box-plist-2col .item .img {float:none;margin-right:0px}
}

/* table */
table.data-type th {font-weight:bold;}
table.data-type th, table.data-type td {padding:6px 5px 6px 5px}
table.data-type td {color:#999;}
table.data-type [class*="textleft"] {padding-left:26px;}
table.data-type.textleft th, table.data-type.textleft td {text-align:left;padding-left:26px;color:#555;word-break: break-all;}

.bg-wrap {max-width:700px;height:300px;background:url(../images/content/img-content-trevelinfo-seoul-tourist-complaints1.jpg) no-repeat;background-size:cover}
.bg-wrap > h5 {padding:100px 20px 10px 380px;}
.bg-wrap > p {padding:0 20px 10px 380px;}
@media all and (max-width:480px) {
	.bg-wrap > h5 {padding:0}
	.bg-wrap > p {max-width:30%;padding:0}
}
.ic-arrow {margin:0 10px;padding:0 25px 0 0;background:url(../images/content/ic-arrow.png) no-repeat right 50%;}
.ic-phone {padding:80px 20px 0 20px;background:url(../images/content/ic-phone.png) no-repeat 50% 0;}
.ic-email {padding:50px 20px 0 20px;background:url(../images/content/ic-email.png) no-repeat 50% 0;}
.bg-wrap.tourist {max-width:700px;height:300px;background:url(../images/content/img-content-trevelinfo-tourist-information-centers1.jpg) no-repeat;background-size:cover}
.bg-wrap.tourist > h5 {padding:50px 20px 10px 230px;}
.bg-wrap.tourist > p {padding:0 20px 10px 230px;}
@media all and (max-width:480px) {
	.bg-wrap.tourist > h5 {padding:10px}
	.bg-wrap.tourist > p {max-width:100%;padding:10px;text-shadow:1px 3px 3px #ddd;}
}

/* common */
.cboth {clear:both}
.cboth:after {content:"";clear:both;display:block;}
.floatleft {float:left;}
.floatright {float:right;}
.block {display:block;}
.cboth.col2 .w50p:nth-child(2) {width:48% !important;padding:0 0 0 15px;}
.w50p {width:49% !important;display:inline-block;}
@media all and (max-width:480px) {
	.w50p {width:100% !important;}
	.cboth.col2 .w50p:nth-child(2) {width:100% !important;padding:10px 0 0 0;}
}
.texttop {vertical-align:top;line-height:2.5;}
[class*="fontsize08"] {font-size:0.875em !important;}
[class*="fontsize07"] {font-size:0.75em !important;font-weight:300;}

/* heading */
h3 a.button, h4 a.button, h5 a.button, h6 a.button, [class*="heading"] a.button {color:#fff !important;}


/* sub content */
.contentPrint {clear:both; word-break:break-all;}
.thumList_type01 {padding:20px 0 10px 0; overflow:hidden;}
.thumList_type01 li {float:left; margin-bottom:20px; width:49%;}
.thumList_type01 li:nth-child(2n) {float:right;}
.thumList_type01 li div {display:-webkit-box; display:-webkit-flex; display:-moz-box; display:-ms-flexbox; display:flex; -webkit-flex-align:center; -ms-flex-align:center; -webkit-align-items:center; align-items:center; padding:10px;  border:1px solid #d4d4d4; text-align:center;}
.thumList_type01 li div img {margin:0 auto !important; height:242px !important;}
.thumList_type01 li + br {display:none;}
.thumList_type01 li span {display:block; margin-top:10px; font-size:0.875em; height:40px;}

@media all and (max-width:640px) {
	.thumList_type01 li div img {height:193px !important;}
}
@media all and (max-width:480px) {
	.thumList_type01 li div img {height:145px !important;}
}

